* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville";
  font-weight: normal;

}
body{
  background-color: #fdfaf5;
}
.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 4em;
  padding: 0 2em;
  position: sticky  ;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #000;
}
.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 4em;
}

.nav-menu a {
  color: #FFFAF5;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: #D0181C;
}

.container-header {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.container-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('/assets/ccb.png');

  background-size: 100% auto;
  background-position: center 20%;
  background-repeat: no-repeat;

  filter: blur(3px);
  transform: scale(1.02);
  z-index: -1;
}

.nav-logo img {
  height: 50px;
}

.container-inicial {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;


  h1 {
    margin-left: auto;
    margin-right: auto;
    font-family: "Libre Baskerville";
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
  }

  h3 {
    font-family: "Schibsted Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 16px;
    color: #ffffff;
  }

  .btn-saibamais {
    color: inherit;
    text-decoration: none;
    background-color: #D0181C;
    color: #FFFAF5;
    border: none;
    padding: 0.6em 1.5em;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8em;
  }
  .btn-saibamais:hover{
    translate:
  }
    
  
  button {
    background-color: #D0181C;
    color: #FFFAF5;
    border: none;
    padding: 0.6em 1.5em;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2em;
  }
}

.logoccb {
  height: 12em;
  margin: 0 auto 1.5em auto;
  display: block;
  width: auto;
  color: #ffffff;
}

.recursos {
  min-height: 100vh;
  padding: 4rem 1rem;
}

.recursos h2 {
  color: #0b2a5a;
  font-size: 1.6rem;
}

.linha {
  height: 2px;
  background: #0b2a5a;
  margin: 1rem 0 3rem;
}

.recurso-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 320px;
  margin-bottom: 0.5em;
  gap: 0.5em;
}

.recurso-item.reverse {
  direction: rtl;
}

.recurso-item.reverse>* {
  direction: ltr;
}


.recurso-texto {
  position: relative;
  padding: 2.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.recurso-texto {
  position: relative;
  z-index: 1;
}

.recurso-texto h3 {
  margin-bottom: 3em;
}

.recurso-texto p {
  line-height: 1.6;
  margin-bottom: 5em;
  font-family: "Schibsted Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.btn-experimentar {
  position: relative;
  display: inline-block;
  padding: 0.6rem 1.4rem;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  overflow: hidden;
  width: fit-content;
  max-width: max-content;
  align-self: flex-start;
}

/* fundo animado */
.btn-experimentar::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
  z-index: 0;
}

/* hover */
.btn-experimentar:hover::before{
  transform: translateX(0);
}

/* texto */
.btn-experimentar span {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

/* texto azul no hover */
.btn-experimentar:hover span {
  color: #0b2a5a;
}
.recurso-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-historia {
  background-image: url("/assets/img-historia.png");
}

.bg-questoes {
  background-image: url("/assets/img-prova2.png");
}

.bg-audio {
  background-image: url("/assets/img-audio.png");
}

.bg-folk {
  background-image: url("/assets/img-folk2.png");
}

.bg-leitura {
  background-image: url("/assets/img-leitura.png");
}

.container-sobre {
  position: relative;
  overflow: hidden;
  color: #FFFAF5;
  padding: 20em 2em;
  text-align: center;
  display: flex;
  justify-content: center;
}



.sobre-content {
  width: 90%;
}

.container-sobre h2 {
  font-size: 36px;
  margin-bottom: 0.5em;
  color: #FFFAF5;
}

.container-sobre p {
  font-family: "Libre Baskerville", serif;
  font-size: 28px;
  line-height: 1.8;
  margin-bottom: 1.5em;
  font-weight: 400;
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
}

.linha-sobre {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #FFFAF5;
  margin-bottom: 4em;
  margin-top: 0em;
}

.linha-sobre::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.2px;
  width: 20em;
  height: 5px;
  background-color: #FFFAF5;
}

.container-objetivo-carousel {
  padding: 4em 4em;
  background-color: #FFFAF5;
  color: #141414;
  min-height: 500px;
}

.carousel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.carousel-header h2 {
  font-size: 32px;
  margin: 0;
  text-transform: uppercase;
}

.carousel-indicators {
  display: flex;
  gap: 12px;
  padding-right: 10px;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: #141414;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease;
}

.dot.active,
.dot:hover {
  opacity: 1;
  transform: scale(1.1);
}

.linha-carousel {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #141414;
  margin-bottom: 3em;
}

.linha-carousel::after {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 12em;
  height: 5px;
  background-color: #141414;
}

.carousel-slide {
  display: none;
  justify-content: space-between;
  gap: 4em;
  padding-top: 1em;
  animation: fadeEffect 0.6s ease-in-out;
}

.carousel-slide.active {
  display: flex;
}

.slide-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-content h3 {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  margin-bottom: 1em;
  text-transform: uppercase;
  position: relative;
}

.slide-content h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background-color: #141414;
  margin-top: 12px;
}

.slide-content p {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  max-width: 95%;
  font-weight: normal;
}

.slide-img {
  flex: 1;
  display: flex;
}

.slide-img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 2px;
  display: block;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 900px) {
  .container-objetivo-carousel {
    padding: 2em;
  }

  .carousel-slide.active {
    flex-direction: column-reverse;
  }

  .slide-img img {
    height: 250px;
  }
}

.main-footer {
  background-color: #fdfaf5;
  color: #333;
  padding: 60px 20px 20px 20px;
  font-family: 'Poppins', sans-serif;
  border-top: 4px solid #001f3f;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.footer-column h3 {
  color: #001f3f;
  font-size: 1.2rem;
  margin-bottom: 20px;
  position: relative;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 15px;
}

address p {
  font-style: normal;
  margin: 10px 0;
  font-size: 0.9rem;
  color: #555;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #001f3f;
  text-decoration: none;
  transition: 0.3s;
}

.footer-column a:hover {
  color: #c41212;
  text-decoration: underline;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-form input,
.footer-form textarea {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  font-size: 0.9rem;
}

.footer-form input:focus,
.footer-form textarea:focus {
  outline: none;
  border-color: #001f3f;
}

.footer-form button {
  background-color: #c41212;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s;
}

.footer-form button:hover {
  background-color: #001f3f;
}

.footer-bottom {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  font-size: 0.8rem;
  color: #888;
}

.slide-img img {
  height: 250px;
}