* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 4em;
  background: #141414;
  padding: 0 2em;
  position: sticky;
  top: 0;
}

.nav-logo img {
  height: 30px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 4em;
}

.nav-menu a {
  color: #FFFAF5;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-menu a:hover {
  color:#D0181C;
}

.btnav {
  background-color: #D0181C;
  color: #FFFAF5;
  border: none;
  padding: 0.6em 1.5em;
  cursor: pointer;
  font-size: 16px;
}

.container-inicial {

  justify-content: center;
  align-items: center;
  margin-left: 2em;
  margin-top: 5em;

  && h1 {
    margin-left: 1em;
    font-size: 40px;
    color:#001552;
  }

  && h3 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-left: 1.8em;
    font-size: 24px;
  }

  && button {
    background-color: #D0181C;
    color: #FFFAF5;
    border: none;
    padding: 0.6em 1.5em;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2em;
    margin-left: 2em;
  }
}

.logoccb {
  height: 22em;
  margin-bottom: 0em;
  display: block;
  margin-left: 2em;
}

.linha{
  width: 51em;
  height: 5px;
  background-color: #001552;
  margin-left: 2em;
  margin-bottom: 1em;
}