* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.navbar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 4em;
  background: #141414;
  padding: 0 2em;
  position: sticky;
  top: 0;
}

.nav-logo img {
  height: 50px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 4em;
}

.nav-menu a {
  color: #FFFAF5;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-menu a:hover {
  color:#D0181C;
}

.btnav {
  background-color: #D0181C;
  color: #FFFAF5;
  border: none;
  padding: 0.6em 1.5em;
  cursor: pointer;
  font-size: 16px;
}

.container-inicial {

  justify-content: center;
  align-items: center;
  margin-left: 2em;
  margin-top: 5em;

  && h1 {
    margin-left: 1em;
    font-size: 40px;
    color:#001552;
  }

  && h3 {
    font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin-left: 1.8em;
    font-size: 24px;
  }

  && button {
    background-color: #D0181C;
    color: #FFFAF5;
    border: none;
    padding: 0.6em 1.5em;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2em;
    margin-left: 2.5em;
  }
}

.logoccb {
  height: 22em;
  margin-bottom: 0em;
  display: block;
  margin-left: 2em;
}

.linha{
  width: 51em;
  height: 5px;
  background-color: #001552;
  margin-left: 2em;
  margin-bottom: 1em;
}

.container-recursos {
    padding: 4em 4em;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0em;
}

.container-recursos h2 {
    font-size: 32px;
    margin-bottom: 0em;
    color: #141414;
}

.linha-section {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #000;
    margin-bottom: 3em;
    margin-top: 0em; 
}

.linha-section::after {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    
    width: 29em; 
    height: 5px; 
    background-color: #141414;
}

.recurso-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    margin-bottom: 4em;
}

.recurso-item:nth-child(even) {
    flex-direction: row-reverse;
}

.recurso-img {
    flex: 1;
}



.recurso-texto {
    flex: 1;
    padding: 0 1em;
}

.recurso-texto h3 {
    font-family: "Manrope", sans-serif;
    font-size: 28px;
    margin-bottom: 0.5em;
    color: #141414;
}

.recurso-texto p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 1.5em;
    color: #333;
}

.btn-experimentar {
    background-color: #D0181C;
    color: #FFFAF5;
    border: none;
    padding: 0.8em 2em;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-experimentar:hover {
    background-color: #b01417;
}

.container-sobre {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/ccb.png'); 
    background-size: cover; 
    background-position: center;
    
    color: #FFFAF5;
    padding: 20em 2em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.sobre-content {
    max-width: 60em;
    width: 100%;
}

.container-sobre h2 {
    font-size: 32px;
    margin-bottom: 0.5em;
    color: #FFFAF5;
}

.container-sobre p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 1.5em;
    font-weight: 400;
}

.linha-sobre {
    position: relative;
    width: 100%;
    height: 1px; 
    background-color: #FFFAF5;
    margin-bottom: 4em;
    margin-top: 0em;
}

.linha-sobre::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    top: -3.2px;
    
    width: 10em;
    height: 5px;
    background-color: #FFFAF5;
}